*{
    margin: 0;
    padding: 0;
}
.ful-website{
    margin: 0 auto;
    width: 1024px;
    text-align: center;
    margin-top: 20px;
}
#min-div{
    background: #273c75;
    padding: 50px;
}
#min-div h1{
    color: #d35400;
}
#min-div h3{
    color: #3498db;
}
#min-div p{
    color: #fff;
}
#min-div:hover{
    background: #16a085;
    transition: .5s;
}
.containar{
    background: #9b59b6;
   padding: 50px;
}
.containar p{
    color: #fff;
}
.containar h4:nth-child(2) a{
    color:green;
}
.containar h4:nth-child(3) a{
    color: yellow;
}
.containar h4:nth-child(4) a{
    color: #95afc0;
}
.containar:hover{
    background: #1abc9c;
    cursor: pointer;
    transition: .5s;
} 
#footer{
    background: #30336b;
    padding: 30px;
    color: #fff;
}